/* Custom CSS */

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFF, 0 0 2px var(--logocolor-light), 0 0 3px var(--logocolor-light), 0 0 4px var(--logocolor-light), 0 0 4px var(--logocolor-light), 0 0 5px var(--logocolor-light);
}

b {
    font-family: 'Bruno Ace', cursive !important;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.dropdown-toggle {
    margin-right: 10px;
}

.slideshow-container {
    position: relative;
}

.carousel-inner {
    border-radius: 1.5rem;
}

.carousel-item {
    height: 800px;
    background-color: var(--logocolor-dark);
}

.carousel-item img {
    object-fit: scale-down;
}

.bi-sun {
    color: white;
}

.main {
    background-color: var(--logocolor);
    text-shadow: 0 0 1em var(--logocolor-light), 0 0 0.3em var(--logocolor-light);
    padding-bottom: 5%;
    color: white;
}

.img-thumbnail {
    border: none;
    border-radius: 100%;
}

.card p {
    color: var(--logocolor-light);
}

#friends {
    padding-top: 5%;
}

body {
    background-color: var(--logocolor);
    text-shadow: 0 0 1em var(--logocolor-light), 0 0 0.3em var(--logocolor-light);
}

@media (max-width: 800px) {
    .carousel-item {
        height: 350px;
    }
    
}